<!doctype html>
<html>

<head>
    <link rel="shortcut icon" href="~/Content/img/simtechlogo.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Shop Floor Tracking System</title>
    <base href="@Url.Content("~/")" />
    @Styles.Render("~/Content/thirdparty")
</head>

<body ng-app="erp">
    <!--[if lte IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Add your site or application content here -->
    <div ng-controller="NavbarCtrl" ng-show="currentUser.isAuth">
        <div ng-include="'Scripts/layout/main-navbar.html'" class="custom-side-navbar">
        </div>

    </div>

    <div class="container " id="main-container-page">
        <div style="margin-bottom: 70px">
            <ui-view>
                @RenderBody()
            </ui-view>
        </div>
    </div>
    <footer class="footer">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4" style="text-align: center">
                <img src="~/Content/img/simtech-col-transparent.png" style="width: 125px; height: 70px;" />
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-3 pull-right hidden-xs custom-copyright"><span>Copyright &#9400; 2017, <b>SIMTech</b>, <b>POMLab</b></span></div>
        </div>
    </footer>  
    @Scripts.Render("~/bundles/thirdparty")
    @Scripts.Render("~/bundles/application")
</body>
</html>